@import "mixinfonts";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Setting background image for the pag
body {
    background: url(../files/background.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Styling the container
#container {
    height: 90vh;
    width: 90vw;
    // display: flex;
    // flex-direction: column;
}

// Styling the header
#header {
    display: flex;
    justify-content: space-between;

    // Styling the logo
    #logo {
        width: 10%;
        @include fontSportingBold;
        font-size: 25px;
    }

    #nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .link {
            text-decoration: none;
            color: $moneyGrey;
            @include fontSFUISemibold;
            font-size: 18px;
        }

        .login {
            color: $moneyDark;
            background-color: $moneyButtonforeground;
            border: 1px solid $moneyButtonborder;
            position: relative;
            height: 100%;
            width: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: "";
                display: flex;
                background-color: $moneyButtonbackground;
                position: absolute;
                height: 100%;
                width: 6rem;
                right: -5px;
                bottom: -5px;
                z-index: -8;
            }
        }
    }
}

#makemoney {
    display: flex;
    justify-content: center;
    @include fontSportingBold;
    font-size: 60px;
    margin-top: 4rem;
}

#center {
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-top: -1.5rem;

    .male-student {
        height: 170%;
        width: auto;
        position: absolute;
        left: -7.6rem;
        top: -11rem;
    }

    .female-student {
        height: 170%;
        width: auto;
        position: absolute;
        right: -7.6rem;
        top: -11rem;
    }

    #center-center {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: chartreuse;

        #text-center {
            @include fontSFUIMedium;
            color: $moneyGrey;
            text-align: center;

            span {
                @include fontSFUISemibold;
                color: $moneyDark;
            }
        }
    }
}